*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main h2{
    font-size: 10rem;
    z-index: -1;
    color: rgba(66, 66, 66, 0.748);
}
.main a{
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
    text-decoration: none;
    margin: 10px 0px;
}
.main a:nth-child(2){
    background: linear-gradient(45deg,#ff3f3f,#e9bcbc);
}
.main a:nth-child(3){
    background: linear-gradient(45deg,#1748db,#b9bbe9);
}
.main a:nth-child(4){
   background: linear-gradient(45deg,#e816d6,#dfa4df);
}
.main a:nth-child(5){
    background: linear-gradient(45deg,#52ec1f,#b3eeba);
}


@media (max-width: 500px){
    .main h2{
        font-size: 4rem;
    }
}